- provide(:title, "Help")

.row
  .span7

    h3 Ingliz tili. Oson.

    p Assalomu alaykum muhtaram saytimiz mehmonlari!

    p Bu yerda siz hozirgi kunda dolzarb bo'lgan ingliz tilidan yordam olishingiz mumkin.

    Why we need English language?
    Why register
    How to start
    Urgency
    Methodology
    We need books; dictionaries
    We need intestments;time;money
    Follow us on Facebook
    Follow us thru mailinglist

    Add level descriptions
    Add reference to small and abrridged books
    Not too much, but a little everyday
    Kichkinaligidan til o'rgatish oson. 
    Til ichida yashash.
    KPSS metodi
    why limit lesson?
      why register
  .span5
    = image_tag "/london-121.jpg"
